.main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
  min-height: 100vh;
  min-height: 100dvh; }
  .main .social-icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2rem;
    font-size: 4rem; }
    .main .social-icons a {
      padding-inline: 1rem;
      color: white;
      transition: 0.5s color, 5s transform; }
      .main .social-icons a:hover {
        color: #0f0ffc; }
  .main-container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 80rem;
    height: 50rem;
    margin: auto;
    box-shadow: 0 0 0.4rem darkblue;
    border-radius: 0.5rem;
    border-inline-start: 1rem solid;
    border-block-start: 1rem solid;
    border-image-source: radial-gradient(circle at top left, rgba(38, 0, 255, 0.5), transparent 50%);
    border-image-slice: 1; }
    @media (max-width: 900px) {
      .main-container {
        width: 70rem; } }
    @media (max-width: 800px) {
      .main-container {
        width: 60rem;
        height: 60rem; } }
    @media (max-width: 700px) {
      .main-container {
        width: 50rem;
        height: 70rem; } }
    @media (max-width: 600px) {
      .main-container {
        width: 45rem;
        height: 70rem; } }
    @media (max-width: 500px) {
      .main-container {
        width: 38rem;
        height: 70rem; } }
    @media (max-width: 400px) {
      .main-container {
        width: 34rem;
        height: 70rem; } }
  .main-paragraph {
    font-size: 2rem;
    padding: 1.5rem;
    letter-spacing: 2;
    color: white;
    text-shadow: 0 0 3px black; }
    .main-paragraph::first-line {
      text-shadow: 0 0 2rem #0f0ffc; }
    @media (max-width: 800px) {
      .main-paragraph {
        height: 28rem; } }
    @media (max-width: 700px) {
      .main-paragraph {
        font-size: 1.8rem; } }
    @media (max-width: 600px) {
      .main-paragraph {
        font-size: 1.7rem; } }
  .main-tabs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center; }
    @media (max-width: 700px) {
      .main-tabs {
        flex-wrap: wrap;
        flex-direction: row; }
        .main-tabs label {
          flex: 1 1 40%; } }
    @media (max-width: 500px) {
      .main-tabs {
        flex-wrap: wrap;
        flex-direction: row; }
        .main-tabs label {
          flex: 1 1 25%; } }
    @media (max-width: 400px) {
      .main-tabs {
        margin-top: 1rem; } }
    .main-tabs > * {
      flex: 1 1 100%; }
    .main-tabs input {
      display: none; }
    .main-tabs label {
      cursor: pointer;
      border: 0.2rem solid;
      border-image: linear-gradient(to right, #365bff, #f10707);
      border-image-slice: 1;
      border-radius: 1rem;
      padding: 1rem 1rem;
      margin: 1rem;
      box-shadow: 0 0 1rem black;
      transition: 0.5s all; }
    .main-tabs label:hover {
      transform: translateY(-1rem);
      color: #ff1e1e; }
  .main .main-skill {
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-around;
    align-items: flex-start; }
    @media (max-width: 700px) {
      .main .main-skill {
        align-items: flex-start; } }
    @media (max-width: 600px) {
      .main .main-skill {
        align-items: flex-start; } }
    .main .main-skill .main-skill-icon {
      font-size: 5rem;
      color: #b92323; }
      @media (max-width: 800px) {
        .main .main-skill .main-skill-icon {
          font-size: 3rem; } }
      @media (max-width: 600px) {
        .main .main-skill .main-skill-icon {
          font-size: 3rem; } }
    .main .main-skill-frontend {
      width: 100%;
      padding: 1rem;
      border-right: 0.3rem solid rgba(17, 0, 255, 0.2); }
      .main .main-skill-frontend h2 {
        margin: 0; }
      .main .main-skill-frontend-names {
        display: flex;
        justify-content: space-between; }
    .main .main-skill-tool {
      padding: 1rem;
      width: 100%; }
      .main .main-skill-tool-name {
        display: flex;
        justify-content: space-between; }
    @media (max-width: 800px) {
      .main .main-skill {
        height: 30rem; } }
  .main .main-education {
    justify-content: space-between;
    align-items: start;
    font-size: 2rem;
    padding: 1.5rem;
    height: 20rem; }
    .main .main-education .main-education > * {
      flex: 1 1 100%; }
    @media (max-width: 800px) {
      .main .main-education {
        height: 28rem; } }
    @media (max-width: 600px) {
      .main .main-education {
        font-size: 1.7rem; } }
  .main .left {
    color: #b6a3fa;
    text-shadow: 0 0 0.3rem rgb 182, 163, 250; }
  .main .main-experience {
    justify-content: start;
    align-items: center;
    color: #b6a3fa;
    font-size: 3rem;
    padding: 1.5rem;
    height: 20rem;
    text-align: left; }
    @media (max-width: 800px) {
      .main .main-experience {
        height: 28rem; } }
    @media (max-width: 600px) {
      .main .main-experience {
        font-size: 1.7rem; } }

.tab1,
.tab2,
.tab3,
.tab4 {
  display: none; }

.active {
  display: flex; }

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 15vh 47vh #FFF , 66vw 88vw #FFF , 62vw 17vw #FFF , 18vw 49vw #FFF , 32vw 15vw #FFF , 45vw 41vw #FFF , 82vw 14vw #FFF , 58vw 59vw #FFF , 56vw 1vw #FFF , 85vw 88vw #FFF , 79vw 31vw #FFF , 20vw 87vw #FFF , 16vw 78vw #FFF , 44vw 22vw #FFF , 56vw 82vw #FFF , 69vw 96vw #FFF , 30vw 73vw #FFF , 71vw 19vw #FFF , 7vw 35vw #FFF , 54vw 6vw #FFF , 37vw 11vw #FFF , 32vw 29vw #FFF , 49vw 30vw #FFF , 89vw 67vw #FFF , 13vw 85vw #FFF , 38vw 64vw #FFF , 26vw 41vw #FFF , 34vw 6vw #FFF , 60vw 73vw #FFF , 74vw 84vw #FFF , 17vw 15vw #FFF , 43vw 29vw #FFF , 62vw 94vw #FFF , 98vw 97vw #FFF , 32vw 59vw #FFF , 91vw 85vw #FFF , 67vw 54vw #FFF , 63vw 18vw #FFF , 53vw 43vw #FFF , 62vw 98vw #FFF , 61vw 94vw #FFF , 28vw 17vw #FFF , 21vw 64vw #FFF , 37vw 5vw #FFF , 100vw 22vw #FFF , 14vw 80vw #FFF , 19vw 99vw #FFF , 96vw 5vw #FFF , 64vw 55vw #FFF , 95vw 28vw #FFF , 88vw 11vw #FFF , 96vw 19vw #FFF , 14vw 89vw #FFF , 41vw 85vw #FFF , 57vw 2vw #FFF , 74vw 73vw #FFF , 19vw 2vw #FFF , 77vw 99vw #FFF , 45vw 36vw #FFF , 40vw 80vw #FFF , 68vw 85vw #FFF , 73vw 69vw #FFF , 7vw 58vw #FFF , 51vw 34vw #FFF , 35vw 100vw #FFF , 30vw 98vw #FFF , 95vw 35vw #FFF , 25vw 29vw #FFF , 42vw 55vw #FFF , 92vw 39vw #FFF , 26vw 46vw #FFF , 68vw 92vw #FFF , 52vw 62vw #FFF , 72vw 31vw #FFF , 21vw 60vw #FFF , 71vw 61vw #FFF , 81vw 84vw #FFF , 82vw 78vw #FFF , 25vw 96vw #FFF , 76vw 45vw #FFF , 60vw 86vw #FFF , 98vw 32vw #FFF , 71vw 21vw #FFF , 40vw 54vw #FFF , 100vw 62vw #FFF , 32vw 38vw #FFF , 93vw 37vw #FFF , 32vw 96vw #FFF , 100vw 31vw #FFF , 51vw 69vw #FFF , 90vw 98vw #FFF , 14vw 21vw #FFF , 100vw 49vw #FFF , 7vw 44vw #FFF , 41vw 82vw #FFF , 72vw 57vw #FFF , 16vw 72vw #FFF , 1vw 68vw #FFF , 83vw 77vw #FFF , 83vw 67vw #FFF , 82vw 19vw #FFF , 37vw 81vw #FFF , 35vw 32vw #FFF , 11vw 7vw #FFF , 30vw 68vw #FFF , 31vw 78vw #FFF , 71vw 10vw #FFF , 55vw 9vw #FFF , 39vw 72vw #FFF , 77vw 97vw #FFF , 51vw 99vw #FFF , 44vw 93vw #FFF , 9vw 57vw #FFF , 7vw 71vw #FFF , 43vw 53vw #FFF , 85vw 9vw #FFF , 35vw 52vw #FFF , 10vw 15vw #FFF , 14vw 98vw #FFF , 71vw 11vw #FFF , 24vw 43vw #FFF , 88vw 81vw #FFF , 54vw 17vw #FFF , 88vw 97vw #FFF , 32vw 58vw #FFF , 96vw 28vw #FFF , 42vw 65vw #FFF , 94vw 9vw #FFF , 68vw 59vw #FFF , 30vw 70vw #FFF , 78vw 45vw #FFF , 24vw 70vw #FFF , 61vw 8vw #FFF , 16vw 26vw #FFF , 64vw 92vw #FFF , 75vw 85vw #FFF , 49vw 31vw #FFF , 46vw 98vw #FFF , 67vw 56vw #FFF , 44vw 82vw #FFF , 71vw 13vw #FFF , 3vw 53vw #FFF , 25vw 14vw #FFF , 100vw 34vw #FFF , 42vw 79vw #FFF , 76vw 45vw #FFF , 38vw 61vw #FFF , 85vw 9vw #FFF , 67vw 79vw #FFF , 74vw 49vw #FFF , 23vw 51vw #FFF , 75vw 1vw #FFF , 29vw 86vw #FFF , 41vw 85vw #FFF , 27vw 78vw #FFF , 48vw 95vw #FFF , 66vw 17vw #FFF , 82vw 89vw #FFF , 7vw 64vw #FFF , 36vw 9vw #FFF , 36vw 89vw #FFF , 4vw 60vw #FFF , 60vw 61vw #FFF , 26vw 74vw #FFF , 69vw 13vw #FFF , 60vw 75vw #FFF , 73vw 43vw #FFF , 5vw 15vw #FFF , 31vw 43vw #FFF , 86vw 23vw #FFF , 10vw 56vw #FFF , 26vw 31vw #FFF , 64vw 88vw #FFF , 42vw 63vw #FFF , 79vw 35vw #FFF , 71vw 4vw #FFF , 1vw 61vw #FFF , 2vw 89vw #FFF , 64vw 70vw #FFF , 53vw 32vw #FFF , 63vw 77vw #FFF , 79vw 93vw #FFF , 36vw 58vw #FFF , 57vw 21vw #FFF , 55vw 87vw #FFF , 36vw 56vw #FFF , 27vw 87vw #FFF , 50vw 23vw #FFF , 2vw 56vw #FFF , 42vw 48vw #FFF , 88vw 57vw #FFF , 99vw 97vw #FFF , 18vw 12vw #FFF , 59vw 44vw #FFF , 89vw 11vw #FFF , 43vw 23vw #FFF , 83vw 17vw #FFF , 61vw 98vw #FFF , 75vw 33vw #FFF , 96vw 52vw #FFF;
  animation: animStar 50s linear infinite; }
  #stars:after {
    content: " ";
    position: absolute;
    top: 100vh;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 15vh 47vh #FFF , 66vw 88vw #FFF , 62vw 17vw #FFF , 18vw 49vw #FFF , 32vw 15vw #FFF , 45vw 41vw #FFF , 82vw 14vw #FFF , 58vw 59vw #FFF , 56vw 1vw #FFF , 85vw 88vw #FFF , 79vw 31vw #FFF , 20vw 87vw #FFF , 16vw 78vw #FFF , 44vw 22vw #FFF , 56vw 82vw #FFF , 69vw 96vw #FFF , 30vw 73vw #FFF , 71vw 19vw #FFF , 7vw 35vw #FFF , 54vw 6vw #FFF , 37vw 11vw #FFF , 32vw 29vw #FFF , 49vw 30vw #FFF , 89vw 67vw #FFF , 13vw 85vw #FFF , 38vw 64vw #FFF , 26vw 41vw #FFF , 34vw 6vw #FFF , 60vw 73vw #FFF , 74vw 84vw #FFF , 17vw 15vw #FFF , 43vw 29vw #FFF , 62vw 94vw #FFF , 98vw 97vw #FFF , 32vw 59vw #FFF , 91vw 85vw #FFF , 67vw 54vw #FFF , 63vw 18vw #FFF , 53vw 43vw #FFF , 62vw 98vw #FFF , 61vw 94vw #FFF , 28vw 17vw #FFF , 21vw 64vw #FFF , 37vw 5vw #FFF , 100vw 22vw #FFF , 14vw 80vw #FFF , 19vw 99vw #FFF , 96vw 5vw #FFF , 64vw 55vw #FFF , 95vw 28vw #FFF , 88vw 11vw #FFF , 96vw 19vw #FFF , 14vw 89vw #FFF , 41vw 85vw #FFF , 57vw 2vw #FFF , 74vw 73vw #FFF , 19vw 2vw #FFF , 77vw 99vw #FFF , 45vw 36vw #FFF , 40vw 80vw #FFF , 68vw 85vw #FFF , 73vw 69vw #FFF , 7vw 58vw #FFF , 51vw 34vw #FFF , 35vw 100vw #FFF , 30vw 98vw #FFF , 95vw 35vw #FFF , 25vw 29vw #FFF , 42vw 55vw #FFF , 92vw 39vw #FFF , 26vw 46vw #FFF , 68vw 92vw #FFF , 52vw 62vw #FFF , 72vw 31vw #FFF , 21vw 60vw #FFF , 71vw 61vw #FFF , 81vw 84vw #FFF , 82vw 78vw #FFF , 25vw 96vw #FFF , 76vw 45vw #FFF , 60vw 86vw #FFF , 98vw 32vw #FFF , 71vw 21vw #FFF , 40vw 54vw #FFF , 100vw 62vw #FFF , 32vw 38vw #FFF , 93vw 37vw #FFF , 32vw 96vw #FFF , 100vw 31vw #FFF , 51vw 69vw #FFF , 90vw 98vw #FFF , 14vw 21vw #FFF , 100vw 49vw #FFF , 7vw 44vw #FFF , 41vw 82vw #FFF , 72vw 57vw #FFF , 16vw 72vw #FFF , 1vw 68vw #FFF , 83vw 77vw #FFF , 83vw 67vw #FFF , 82vw 19vw #FFF , 37vw 81vw #FFF , 35vw 32vw #FFF , 11vw 7vw #FFF , 30vw 68vw #FFF , 31vw 78vw #FFF , 71vw 10vw #FFF , 55vw 9vw #FFF , 39vw 72vw #FFF , 77vw 97vw #FFF , 51vw 99vw #FFF , 44vw 93vw #FFF , 9vw 57vw #FFF , 7vw 71vw #FFF , 43vw 53vw #FFF , 85vw 9vw #FFF , 35vw 52vw #FFF , 10vw 15vw #FFF , 14vw 98vw #FFF , 71vw 11vw #FFF , 24vw 43vw #FFF , 88vw 81vw #FFF , 54vw 17vw #FFF , 88vw 97vw #FFF , 32vw 58vw #FFF , 96vw 28vw #FFF , 42vw 65vw #FFF , 94vw 9vw #FFF , 68vw 59vw #FFF , 30vw 70vw #FFF , 78vw 45vw #FFF , 24vw 70vw #FFF , 61vw 8vw #FFF , 16vw 26vw #FFF , 64vw 92vw #FFF , 75vw 85vw #FFF , 49vw 31vw #FFF , 46vw 98vw #FFF , 67vw 56vw #FFF , 44vw 82vw #FFF , 71vw 13vw #FFF , 3vw 53vw #FFF , 25vw 14vw #FFF , 100vw 34vw #FFF , 42vw 79vw #FFF , 76vw 45vw #FFF , 38vw 61vw #FFF , 85vw 9vw #FFF , 67vw 79vw #FFF , 74vw 49vw #FFF , 23vw 51vw #FFF , 75vw 1vw #FFF , 29vw 86vw #FFF , 41vw 85vw #FFF , 27vw 78vw #FFF , 48vw 95vw #FFF , 66vw 17vw #FFF , 82vw 89vw #FFF , 7vw 64vw #FFF , 36vw 9vw #FFF , 36vw 89vw #FFF , 4vw 60vw #FFF , 60vw 61vw #FFF , 26vw 74vw #FFF , 69vw 13vw #FFF , 60vw 75vw #FFF , 73vw 43vw #FFF , 5vw 15vw #FFF , 31vw 43vw #FFF , 86vw 23vw #FFF , 10vw 56vw #FFF , 26vw 31vw #FFF , 64vw 88vw #FFF , 42vw 63vw #FFF , 79vw 35vw #FFF , 71vw 4vw #FFF , 1vw 61vw #FFF , 2vw 89vw #FFF , 64vw 70vw #FFF , 53vw 32vw #FFF , 63vw 77vw #FFF , 79vw 93vw #FFF , 36vw 58vw #FFF , 57vw 21vw #FFF , 55vw 87vw #FFF , 36vw 56vw #FFF , 27vw 87vw #FFF , 50vw 23vw #FFF , 2vw 56vw #FFF , 42vw 48vw #FFF , 88vw 57vw #FFF , 99vw 97vw #FFF , 18vw 12vw #FFF , 59vw 44vw #FFF , 89vw 11vw #FFF , 43vw 23vw #FFF , 83vw 17vw #FFF , 61vw 98vw #FFF , 75vw 33vw #FFF , 96vw 52vw #FFF; }

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 20vh 30vh #FFF , 61vw 34vw #FFF , 67vw 43vw #FFF , 9vw 91vw #FFF , 64vw 76vw #FFF , 8vw 51vw #FFF , 56vw 2vw #FFF , 65vw 67vw #FFF , 99vw 98vw #FFF , 16vw 17vw #FFF , 25vw 60vw #FFF , 76vw 13vw #FFF , 58vw 60vw #FFF , 51vw 100vw #FFF , 48vw 34vw #FFF , 53vw 71vw #FFF , 44vw 3vw #FFF , 1vw 85vw #FFF , 49vw 77vw #FFF , 21vw 68vw #FFF , 65vw 48vw #FFF , 91vw 74vw #FFF , 18vw 90vw #FFF , 71vw 48vw #FFF , 9vw 84vw #FFF , 34vw 90vw #FFF , 93vw 8vw #FFF , 47vw 40vw #FFF , 86vw 7vw #FFF , 97vw 32vw #FFF , 36vw 70vw #FFF , 82vw 66vw #FFF , 35vw 20vw #FFF , 41vw 13vw #FFF , 40vw 100vw #FFF , 16vw 76vw #FFF , 5vw 56vw #FFF , 68vw 12vw #FFF , 9vw 28vw #FFF , 1vw 60vw #FFF , 10vw 4vw #FFF , 88vw 40vw #FFF , 71vw 72vw #FFF , 29vw 40vw #FFF , 73vw 53vw #FFF , 35vw 91vw #FFF , 99vw 23vw #FFF , 55vw 71vw #FFF , 92vw 94vw #FFF , 42vw 60vw #FFF , 18vw 62vw #FFF , 62vw 92vw #FFF , 61vw 83vw #FFF , 64vw 1vw #FFF , 50vw 35vw #FFF , 49vw 62vw #FFF , 60vw 7vw #FFF , 36vw 27vw #FFF , 4vw 52vw #FFF , 56vw 26vw #FFF , 85vw 64vw #FFF , 93vw 93vw #FFF , 69vw 62vw #FFF , 93vw 21vw #FFF , 12vw 91vw #FFF , 19vw 87vw #FFF , 49vw 53vw #FFF , 56vw 92vw #FFF , 29vw 24vw #FFF , 45vw 17vw #FFF , 72vw 38vw #FFF , 95vw 30vw #FFF , 70vw 85vw #FFF , 27vw 24vw #FFF , 67vw 97vw #FFF , 87vw 2vw #FFF , 27vw 21vw #FFF , 35vw 67vw #FFF , 31vw 77vw #FFF , 32vw 96vw #FFF , 100vw 13vw #FFF , 97vw 46vw #FFF , 13vw 14vw #FFF , 39vw 54vw #FFF , 40vw 39vw #FFF , 97vw 61vw #FFF , 75vw 34vw #FFF , 65vw 60vw #FFF , 55vw 68vw #FFF , 67vw 99vw #FFF , 14vw 11vw #FFF , 80vw 75vw #FFF , 91vw 100vw #FFF , 93vw 27vw #FFF , 42vw 50vw #FFF , 26vw 68vw #FFF , 34vw 67vw #FFF , 28vw 27vw #FFF , 33vw 52vw #FFF , 1vw 84vw #FFF , 82vw 60vw #FFF , 19vw 62vw #FFF , 45vw 14vw #FFF , 82vw 13vw #FFF , 26vw 62vw #FFF , 1vw 8vw #FFF , 53vw 61vw #FFF , 10vw 54vw #FFF , 23vw 61vw #FFF , 18vw 5vw #FFF , 83vw 35vw #FFF , 48vw 29vw #FFF , 9vw 17vw #FFF , 59vw 98vw #FFF , 77vw 59vw #FFF , 70vw 72vw #FFF , 61vw 42vw #FFF , 7vw 62vw #FFF , 12vw 59vw #FFF , 83vw 60vw #FFF , 17vw 42vw #FFF , 57vw 67vw #FFF , 43vw 40vw #FFF , 44vw 81vw #FFF , 78vw 92vw #FFF , 58vw 19vw #FFF , 65vw 90vw #FFF , 69vw 52vw #FFF , 49vw 13vw #FFF , 4vw 60vw #FFF , 96vw 81vw #FFF , 57vw 16vw #FFF , 15vw 72vw #FFF , 7vw 72vw #FFF , 16vw 51vw #FFF , 76vw 90vw #FFF , 76vw 35vw #FFF , 57vw 56vw #FFF , 24vw 11vw #FFF , 93vw 88vw #FFF , 56vw 30vw #FFF , 98vw 14vw #FFF , 36vw 71vw #FFF , 36vw 6vw #FFF , 65vw 65vw #FFF , 33vw 71vw #FFF , 92vw 6vw #FFF , 17vw 38vw #FFF , 20vw 57vw #FFF , 78vw 49vw #FFF , 28vw 6vw #FFF , 3vw 99vw #FFF , 15vw 34vw #FFF , 32vw 54vw #FFF , 73vw 9vw #FFF , 9vw 80vw #FFF , 56vw 58vw #FFF , 37vw 5vw #FFF , 87vw 19vw #FFF , 87vw 78vw #FFF , 46vw 87vw #FFF , 21vw 85vw #FFF , 89vw 18vw #FFF , 39vw 37vw #FFF , 83vw 32vw #FFF , 49vw 17vw #FFF , 10vw 41vw #FFF , 19vw 71vw #FFF , 25vw 2vw #FFF , 58vw 54vw #FFF , 36vw 23vw #FFF , 69vw 90vw #FFF , 67vw 29vw #FFF , 26vw 86vw #FFF , 76vw 5vw #FFF , 22vw 30vw #FFF , 2vw 57vw #FFF , 15vw 74vw #FFF , 38vw 63vw #FFF , 23vw 92vw #FFF , 10vw 66vw #FFF , 4vw 54vw #FFF , 70vw 84vw #FFF , 18vw 16vw #FFF , 69vw 30vw #FFF , 92vw 19vw #FFF , 48vw 15vw #FFF , 39vw 84vw #FFF , 75vw 29vw #FFF , 95vw 30vw #FFF , 93vw 77vw #FFF , 28vw 96vw #FFF , 3vw 42vw #FFF , 21vw 85vw #FFF , 17vw 1vw #FFF , 38vw 63vw #FFF , 91vw 54vw #FFF , 56vw 50vw #FFF , 79vw 23vw #FFF , 64vw 68vw #FFF;
  animation: animStar 100s linear infinite; }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 100vh;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 20vh 30vh #FFF , 61vw 34vw #FFF , 67vw 43vw #FFF , 9vw 91vw #FFF , 64vw 76vw #FFF , 8vw 51vw #FFF , 56vw 2vw #FFF , 65vw 67vw #FFF , 99vw 98vw #FFF , 16vw 17vw #FFF , 25vw 60vw #FFF , 76vw 13vw #FFF , 58vw 60vw #FFF , 51vw 100vw #FFF , 48vw 34vw #FFF , 53vw 71vw #FFF , 44vw 3vw #FFF , 1vw 85vw #FFF , 49vw 77vw #FFF , 21vw 68vw #FFF , 65vw 48vw #FFF , 91vw 74vw #FFF , 18vw 90vw #FFF , 71vw 48vw #FFF , 9vw 84vw #FFF , 34vw 90vw #FFF , 93vw 8vw #FFF , 47vw 40vw #FFF , 86vw 7vw #FFF , 97vw 32vw #FFF , 36vw 70vw #FFF , 82vw 66vw #FFF , 35vw 20vw #FFF , 41vw 13vw #FFF , 40vw 100vw #FFF , 16vw 76vw #FFF , 5vw 56vw #FFF , 68vw 12vw #FFF , 9vw 28vw #FFF , 1vw 60vw #FFF , 10vw 4vw #FFF , 88vw 40vw #FFF , 71vw 72vw #FFF , 29vw 40vw #FFF , 73vw 53vw #FFF , 35vw 91vw #FFF , 99vw 23vw #FFF , 55vw 71vw #FFF , 92vw 94vw #FFF , 42vw 60vw #FFF , 18vw 62vw #FFF , 62vw 92vw #FFF , 61vw 83vw #FFF , 64vw 1vw #FFF , 50vw 35vw #FFF , 49vw 62vw #FFF , 60vw 7vw #FFF , 36vw 27vw #FFF , 4vw 52vw #FFF , 56vw 26vw #FFF , 85vw 64vw #FFF , 93vw 93vw #FFF , 69vw 62vw #FFF , 93vw 21vw #FFF , 12vw 91vw #FFF , 19vw 87vw #FFF , 49vw 53vw #FFF , 56vw 92vw #FFF , 29vw 24vw #FFF , 45vw 17vw #FFF , 72vw 38vw #FFF , 95vw 30vw #FFF , 70vw 85vw #FFF , 27vw 24vw #FFF , 67vw 97vw #FFF , 87vw 2vw #FFF , 27vw 21vw #FFF , 35vw 67vw #FFF , 31vw 77vw #FFF , 32vw 96vw #FFF , 100vw 13vw #FFF , 97vw 46vw #FFF , 13vw 14vw #FFF , 39vw 54vw #FFF , 40vw 39vw #FFF , 97vw 61vw #FFF , 75vw 34vw #FFF , 65vw 60vw #FFF , 55vw 68vw #FFF , 67vw 99vw #FFF , 14vw 11vw #FFF , 80vw 75vw #FFF , 91vw 100vw #FFF , 93vw 27vw #FFF , 42vw 50vw #FFF , 26vw 68vw #FFF , 34vw 67vw #FFF , 28vw 27vw #FFF , 33vw 52vw #FFF , 1vw 84vw #FFF , 82vw 60vw #FFF , 19vw 62vw #FFF , 45vw 14vw #FFF , 82vw 13vw #FFF , 26vw 62vw #FFF , 1vw 8vw #FFF , 53vw 61vw #FFF , 10vw 54vw #FFF , 23vw 61vw #FFF , 18vw 5vw #FFF , 83vw 35vw #FFF , 48vw 29vw #FFF , 9vw 17vw #FFF , 59vw 98vw #FFF , 77vw 59vw #FFF , 70vw 72vw #FFF , 61vw 42vw #FFF , 7vw 62vw #FFF , 12vw 59vw #FFF , 83vw 60vw #FFF , 17vw 42vw #FFF , 57vw 67vw #FFF , 43vw 40vw #FFF , 44vw 81vw #FFF , 78vw 92vw #FFF , 58vw 19vw #FFF , 65vw 90vw #FFF , 69vw 52vw #FFF , 49vw 13vw #FFF , 4vw 60vw #FFF , 96vw 81vw #FFF , 57vw 16vw #FFF , 15vw 72vw #FFF , 7vw 72vw #FFF , 16vw 51vw #FFF , 76vw 90vw #FFF , 76vw 35vw #FFF , 57vw 56vw #FFF , 24vw 11vw #FFF , 93vw 88vw #FFF , 56vw 30vw #FFF , 98vw 14vw #FFF , 36vw 71vw #FFF , 36vw 6vw #FFF , 65vw 65vw #FFF , 33vw 71vw #FFF , 92vw 6vw #FFF , 17vw 38vw #FFF , 20vw 57vw #FFF , 78vw 49vw #FFF , 28vw 6vw #FFF , 3vw 99vw #FFF , 15vw 34vw #FFF , 32vw 54vw #FFF , 73vw 9vw #FFF , 9vw 80vw #FFF , 56vw 58vw #FFF , 37vw 5vw #FFF , 87vw 19vw #FFF , 87vw 78vw #FFF , 46vw 87vw #FFF , 21vw 85vw #FFF , 89vw 18vw #FFF , 39vw 37vw #FFF , 83vw 32vw #FFF , 49vw 17vw #FFF , 10vw 41vw #FFF , 19vw 71vw #FFF , 25vw 2vw #FFF , 58vw 54vw #FFF , 36vw 23vw #FFF , 69vw 90vw #FFF , 67vw 29vw #FFF , 26vw 86vw #FFF , 76vw 5vw #FFF , 22vw 30vw #FFF , 2vw 57vw #FFF , 15vw 74vw #FFF , 38vw 63vw #FFF , 23vw 92vw #FFF , 10vw 66vw #FFF , 4vw 54vw #FFF , 70vw 84vw #FFF , 18vw 16vw #FFF , 69vw 30vw #FFF , 92vw 19vw #FFF , 48vw 15vw #FFF , 39vw 84vw #FFF , 75vw 29vw #FFF , 95vw 30vw #FFF , 93vw 77vw #FFF , 28vw 96vw #FFF , 3vw 42vw #FFF , 21vw 85vw #FFF , 17vw 1vw #FFF , 38vw 63vw #FFF , 91vw 54vw #FFF , 56vw 50vw #FFF , 79vw 23vw #FFF , 64vw 68vw #FFF; }

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 36vh 13vh #FFF , 49vw 31vw #FFF , 80vw 33vw #FFF , 27vw 72vw #FFF , 69vw 42vw #FFF , 30vw 84vw #FFF , 45vw 81vw #FFF , 82vw 1vw #FFF , 65vw 26vw #FFF , 86vw 74vw #FFF , 4vw 43vw #FFF , 67vw 15vw #FFF , 50vw 15vw #FFF , 17vw 31vw #FFF , 52vw 66vw #FFF , 54vw 54vw #FFF , 90vw 2vw #FFF , 47vw 57vw #FFF , 28vw 39vw #FFF , 75vw 70vw #FFF , 56vw 12vw #FFF , 24vw 8vw #FFF , 18vw 97vw #FFF , 40vw 42vw #FFF , 44vw 81vw #FFF , 61vw 51vw #FFF , 42vw 79vw #FFF , 68vw 87vw #FFF , 39vw 19vw #FFF , 50vw 28vw #FFF , 78vw 68vw #FFF , 94vw 38vw #FFF , 61vw 1vw #FFF , 33vw 54vw #FFF , 66vw 88vw #FFF , 83vw 56vw #FFF , 1vw 15vw #FFF , 14vw 35vw #FFF , 54vw 73vw #FFF , 87vw 52vw #FFF , 38vw 77vw #FFF , 15vw 10vw #FFF , 63vw 70vw #FFF , 68vw 95vw #FFF , 38vw 92vw #FFF , 72vw 74vw #FFF , 1vw 62vw #FFF , 10vw 15vw #FFF , 21vw 88vw #FFF , 85vw 16vw #FFF , 50vw 22vw #FFF , 59vw 27vw #FFF , 29vw 97vw #FFF , 96vw 68vw #FFF , 60vw 59vw #FFF , 63vw 43vw #FFF , 79vw 79vw #FFF , 85vw 40vw #FFF , 15vw 68vw #FFF , 46vw 24vw #FFF , 74vw 76vw #FFF , 13vw 15vw #FFF , 17vw 48vw #FFF , 45vw 52vw #FFF , 72vw 41vw #FFF , 100vw 22vw #FFF , 53vw 96vw #FFF , 98vw 86vw #FFF , 7vw 52vw #FFF , 6vw 71vw #FFF , 67vw 49vw #FFF , 4vw 65vw #FFF , 72vw 73vw #FFF , 3vw 61vw #FFF , 60vw 35vw #FFF , 29vw 59vw #FFF , 91vw 10vw #FFF , 75vw 28vw #FFF , 25vw 19vw #FFF , 27vw 49vw #FFF , 69vw 80vw #FFF , 68vw 96vw #FFF , 51vw 2vw #FFF , 11vw 65vw #FFF , 77vw 54vw #FFF , 67vw 58vw #FFF , 13vw 36vw #FFF , 15vw 72vw #FFF , 90vw 19vw #FFF , 84vw 38vw #FFF , 31vw 4vw #FFF , 50vw 8vw #FFF , 93vw 35vw #FFF , 9vw 41vw #FFF , 53vw 26vw #FFF , 71vw 3vw #FFF , 90vw 9vw #FFF , 63vw 52vw #FFF , 78vw 7vw #FFF , 20vw 2vw #FFF;
  animation: animStar 150s linear infinite; }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 100vh;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 36vh 13vh #FFF , 49vw 31vw #FFF , 80vw 33vw #FFF , 27vw 72vw #FFF , 69vw 42vw #FFF , 30vw 84vw #FFF , 45vw 81vw #FFF , 82vw 1vw #FFF , 65vw 26vw #FFF , 86vw 74vw #FFF , 4vw 43vw #FFF , 67vw 15vw #FFF , 50vw 15vw #FFF , 17vw 31vw #FFF , 52vw 66vw #FFF , 54vw 54vw #FFF , 90vw 2vw #FFF , 47vw 57vw #FFF , 28vw 39vw #FFF , 75vw 70vw #FFF , 56vw 12vw #FFF , 24vw 8vw #FFF , 18vw 97vw #FFF , 40vw 42vw #FFF , 44vw 81vw #FFF , 61vw 51vw #FFF , 42vw 79vw #FFF , 68vw 87vw #FFF , 39vw 19vw #FFF , 50vw 28vw #FFF , 78vw 68vw #FFF , 94vw 38vw #FFF , 61vw 1vw #FFF , 33vw 54vw #FFF , 66vw 88vw #FFF , 83vw 56vw #FFF , 1vw 15vw #FFF , 14vw 35vw #FFF , 54vw 73vw #FFF , 87vw 52vw #FFF , 38vw 77vw #FFF , 15vw 10vw #FFF , 63vw 70vw #FFF , 68vw 95vw #FFF , 38vw 92vw #FFF , 72vw 74vw #FFF , 1vw 62vw #FFF , 10vw 15vw #FFF , 21vw 88vw #FFF , 85vw 16vw #FFF , 50vw 22vw #FFF , 59vw 27vw #FFF , 29vw 97vw #FFF , 96vw 68vw #FFF , 60vw 59vw #FFF , 63vw 43vw #FFF , 79vw 79vw #FFF , 85vw 40vw #FFF , 15vw 68vw #FFF , 46vw 24vw #FFF , 74vw 76vw #FFF , 13vw 15vw #FFF , 17vw 48vw #FFF , 45vw 52vw #FFF , 72vw 41vw #FFF , 100vw 22vw #FFF , 53vw 96vw #FFF , 98vw 86vw #FFF , 7vw 52vw #FFF , 6vw 71vw #FFF , 67vw 49vw #FFF , 4vw 65vw #FFF , 72vw 73vw #FFF , 3vw 61vw #FFF , 60vw 35vw #FFF , 29vw 59vw #FFF , 91vw 10vw #FFF , 75vw 28vw #FFF , 25vw 19vw #FFF , 27vw 49vw #FFF , 69vw 80vw #FFF , 68vw 96vw #FFF , 51vw 2vw #FFF , 11vw 65vw #FFF , 77vw 54vw #FFF , 67vw 58vw #FFF , 13vw 36vw #FFF , 15vw 72vw #FFF , 90vw 19vw #FFF , 84vw 38vw #FFF , 31vw 4vw #FFF , 50vw 8vw #FFF , 93vw 35vw #FFF , 9vw 41vw #FFF , 53vw 26vw #FFF , 71vw 3vw #FFF , 90vw 9vw #FFF , 63vw 52vw #FFF , 78vw 7vw #FFF , 20vw 2vw #FFF; }

@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-10vh); } }

.te-container {
  font-size: 4rem;
  text-align: left;
  margin: 2rem auto;
  padding: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #0f22ca; }

.footer {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.4rem;
  padding-right: 2rem;
  text-shadow: 0 0 2rem;
  box-shadow: 0 0 1rem #4848da;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #091a79 35%, #020024 100%);
  border-radius: 0 0 4rem 0;
  font-size: 1.5rem;
  transition: color 0.5s, transform 1s, border-radius 1s, font-size 3s, margin 1s;
  cursor: pointer; }
  .footer:hover {
    border-radius: 4rem 4rem 4rem 4rem;
    transform: scale(1.1);
    color: red;
    font-size: 1.8rem;
    margin: 2rem; }

:root {
  --fs-html: 62.5%;
  --fs-body: 1.6rem;
  --font-family: "Outfit", sans-serif; }

html {
  font-size: var(--fs-html);
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  color-scheme: dark;
  height: 100vh; }

body {
  line-height: 1.5;
  font-size: var(--fs-body);
  font-family: var(--font-family);
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center; }
