.main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
  min-height: 100vh;
  min-height: 100dvh; }
  .main .social-icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2rem;
    font-size: 4rem; }
    .main .social-icons a {
      padding-inline: 1rem;
      color: white;
      transition: 0.5s color, 5s transform; }
      .main .social-icons a:hover {
        color: #0f0ffc; }
  .main-container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 80rem;
    height: 50rem;
    margin: auto;
    box-shadow: 0 0 0.4rem darkblue;
    border-radius: 0.5rem;
    border-inline-start: 1rem solid;
    border-block-start: 1rem solid;
    border-image-source: radial-gradient(circle at top left, rgba(38, 0, 255, 0.5), transparent 50%);
    border-image-slice: 1; }
    @media (max-width: 900px) {
      .main-container {
        width: 70rem; } }
    @media (max-width: 800px) {
      .main-container {
        width: 60rem;
        height: 60rem; } }
    @media (max-width: 700px) {
      .main-container {
        width: 50rem;
        height: 70rem; } }
    @media (max-width: 600px) {
      .main-container {
        width: 45rem;
        height: 70rem; } }
    @media (max-width: 500px) {
      .main-container {
        width: 38rem;
        height: 70rem; } }
    @media (max-width: 400px) {
      .main-container {
        width: 34rem;
        height: 70rem; } }
    @media (max-width: 375px) {
      .main-container {
        width: 34rem;
        height: 80rem; } }
  .main-paragraph {
    font-size: 2rem;
    padding: 1.5rem;
    letter-spacing: 2;
    color: white;
    text-shadow: 0 0 3px black; }
    .main-paragraph::first-line {
      text-shadow: 0 0 2rem #0f0ffc; }
    @media (max-width: 800px) {
      .main-paragraph {
        height: 28rem; } }
    @media (max-width: 700px) {
      .main-paragraph {
        font-size: 1.8rem; } }
    @media (max-width: 600px) {
      .main-paragraph {
        font-size: 1.7rem; } }
    @media (max-width: 375px) {
      .main-paragraph {
        height: 30rem; } }
  .main-tabs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center; }
    @media (max-width: 700px) {
      .main-tabs {
        flex-wrap: wrap;
        flex-direction: row; }
        .main-tabs label {
          flex: 1 1 40%; } }
    @media (max-width: 500px) {
      .main-tabs {
        flex-wrap: wrap;
        flex-direction: row; }
        .main-tabs label {
          flex: 1 1 25%; } }
    @media (max-width: 400px) {
      .main-tabs {
        margin-top: 1rem; } }
    .main-tabs > * {
      flex: 1 1 100%; }
    .main-tabs input {
      display: none; }
    .main-tabs label {
      cursor: pointer;
      border: 0.2rem solid;
      border-image: linear-gradient(to right, #365bff, #f10707);
      border-image-slice: 1;
      border-radius: 1rem;
      padding: 1rem 1rem;
      margin: 1rem;
      box-shadow: 0 0 1rem black;
      transition: 0.5s all; }
    .main-tabs label:hover {
      transform: translateY(-1rem);
      color: #ff1e1e; }
  .main .main-skill {
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-around;
    align-items: flex-start; }
    @media (max-width: 700px) {
      .main .main-skill {
        align-items: flex-start; } }
    @media (max-width: 600px) {
      .main .main-skill {
        align-items: flex-start; } }
    .main .main-skill .main-skill-icon {
      font-size: 5rem;
      color: #b92323; }
      @media (max-width: 800px) {
        .main .main-skill .main-skill-icon {
          font-size: 3rem; } }
      @media (max-width: 600px) {
        .main .main-skill .main-skill-icon {
          font-size: 3rem; } }
    .main .main-skill-frontend {
      width: 100%;
      padding: 1rem;
      border-right: 0.3rem solid rgba(17, 0, 255, 0.2); }
      .main .main-skill-frontend h2 {
        margin: 0; }
      .main .main-skill-frontend-names {
        display: flex;
        justify-content: space-between; }
    .main .main-skill-tool {
      padding: 1rem;
      width: 100%; }
      .main .main-skill-tool-name {
        display: flex;
        justify-content: space-between; }
    @media (max-width: 800px) {
      .main .main-skill {
        height: 30rem; } }
  .main .main-education {
    justify-content: space-between;
    align-items: start;
    font-size: 2rem;
    padding: 1.5rem;
    height: 20rem; }
    .main .main-education .main-education > * {
      flex: 1 1 100%; }
    @media (max-width: 800px) {
      .main .main-education {
        height: 28rem; } }
    @media (max-width: 600px) {
      .main .main-education {
        font-size: 1.7rem; } }
  .main .left {
    color: #b6a3fa;
    text-shadow: 0 0 0.3rem rgb 182, 163, 250; }
  .main .main-experience {
    justify-content: start;
    align-items: center;
    color: #b6a3fa;
    font-size: 3rem;
    padding: 1.5rem;
    height: 20rem;
    text-align: left; }
    @media (max-width: 800px) {
      .main .main-experience {
        height: 28rem; } }
    @media (max-width: 600px) {
      .main .main-experience {
        font-size: 1.7rem; } }

.tab1,
.tab2,
.tab3,
.tab4 {
  display: none; }

.active {
  display: flex; }

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 58vh 31vh #FFF , 99vw 44vw #FFF , 29vw 60vw #FFF , 46vw 15vw #FFF , 85vw 37vw #FFF , 17vw 68vw #FFF , 50vw 82vw #FFF , 21vw 44vw #FFF , 64vw 80vw #FFF , 41vw 9vw #FFF , 27vw 79vw #FFF , 35vw 99vw #FFF , 13vw 21vw #FFF , 8vw 90vw #FFF , 53vw 79vw #FFF , 59vw 47vw #FFF , 78vw 78vw #FFF , 2vw 3vw #FFF , 84vw 32vw #FFF , 47vw 94vw #FFF , 15vw 87vw #FFF , 30vw 92vw #FFF , 97vw 86vw #FFF , 62vw 72vw #FFF , 61vw 11vw #FFF , 27vw 14vw #FFF , 98vw 12vw #FFF , 12vw 42vw #FFF , 86vw 45vw #FFF , 39vw 13vw #FFF , 79vw 59vw #FFF , 61vw 61vw #FFF , 59vw 37vw #FFF , 32vw 30vw #FFF , 69vw 2vw #FFF , 77vw 88vw #FFF , 24vw 59vw #FFF , 32vw 24vw #FFF , 5vw 12vw #FFF , 78vw 80vw #FFF , 98vw 8vw #FFF , 13vw 4vw #FFF , 1vw 89vw #FFF , 90vw 3vw #FFF , 77vw 70vw #FFF , 21vw 60vw #FFF , 11vw 20vw #FFF , 31vw 19vw #FFF , 21vw 9vw #FFF , 13vw 64vw #FFF , 74vw 23vw #FFF , 12vw 40vw #FFF , 30vw 8vw #FFF , 15vw 50vw #FFF , 12vw 31vw #FFF , 23vw 14vw #FFF , 63vw 93vw #FFF , 62vw 30vw #FFF , 97vw 14vw #FFF , 62vw 28vw #FFF , 54vw 78vw #FFF , 31vw 47vw #FFF , 8vw 30vw #FFF , 24vw 87vw #FFF , 4vw 8vw #FFF , 43vw 79vw #FFF , 98vw 46vw #FFF , 41vw 99vw #FFF , 2vw 98vw #FFF , 63vw 19vw #FFF , 39vw 98vw #FFF , 73vw 67vw #FFF , 12vw 98vw #FFF , 36vw 48vw #FFF , 72vw 56vw #FFF , 19vw 62vw #FFF , 87vw 49vw #FFF , 57vw 61vw #FFF , 95vw 52vw #FFF , 15vw 28vw #FFF , 100vw 47vw #FFF , 8vw 5vw #FFF , 7vw 17vw #FFF , 61vw 94vw #FFF , 53vw 35vw #FFF , 80vw 5vw #FFF , 58vw 98vw #FFF , 35vw 37vw #FFF , 8vw 83vw #FFF , 56vw 35vw #FFF , 44vw 91vw #FFF , 41vw 3vw #FFF , 99vw 51vw #FFF , 93vw 14vw #FFF , 73vw 61vw #FFF , 74vw 90vw #FFF , 37vw 86vw #FFF , 9vw 21vw #FFF , 20vw 73vw #FFF , 56vw 50vw #FFF , 62vw 40vw #FFF , 29vw 98vw #FFF , 64vw 54vw #FFF , 69vw 10vw #FFF , 49vw 48vw #FFF , 48vw 17vw #FFF , 75vw 93vw #FFF , 9vw 29vw #FFF , 69vw 38vw #FFF , 54vw 51vw #FFF , 89vw 41vw #FFF , 53vw 90vw #FFF , 69vw 100vw #FFF , 42vw 64vw #FFF , 83vw 96vw #FFF , 53vw 10vw #FFF , 25vw 39vw #FFF , 77vw 9vw #FFF , 54vw 80vw #FFF , 36vw 38vw #FFF , 52vw 6vw #FFF , 83vw 100vw #FFF , 81vw 3vw #FFF , 86vw 81vw #FFF , 91vw 84vw #FFF , 85vw 37vw #FFF , 96vw 64vw #FFF , 100vw 22vw #FFF , 46vw 96vw #FFF , 87vw 46vw #FFF , 98vw 6vw #FFF , 1vw 26vw #FFF , 29vw 92vw #FFF , 86vw 30vw #FFF , 11vw 95vw #FFF , 62vw 83vw #FFF , 64vw 21vw #FFF , 10vw 35vw #FFF , 29vw 34vw #FFF , 5vw 5vw #FFF , 91vw 46vw #FFF , 26vw 70vw #FFF , 40vw 75vw #FFF , 59vw 39vw #FFF , 89vw 29vw #FFF , 58vw 89vw #FFF , 45vw 63vw #FFF , 29vw 14vw #FFF , 17vw 71vw #FFF , 63vw 80vw #FFF , 17vw 25vw #FFF , 26vw 18vw #FFF , 75vw 75vw #FFF , 9vw 20vw #FFF , 20vw 68vw #FFF , 36vw 18vw #FFF , 25vw 61vw #FFF , 5vw 96vw #FFF , 66vw 85vw #FFF , 67vw 7vw #FFF , 80vw 70vw #FFF , 53vw 89vw #FFF , 89vw 98vw #FFF , 21vw 71vw #FFF , 12vw 1vw #FFF , 78vw 33vw #FFF , 27vw 40vw #FFF , 14vw 89vw #FFF , 25vw 64vw #FFF , 100vw 20vw #FFF , 3vw 71vw #FFF , 7vw 80vw #FFF , 69vw 49vw #FFF , 56vw 55vw #FFF , 16vw 99vw #FFF , 32vw 48vw #FFF , 44vw 82vw #FFF , 37vw 19vw #FFF , 74vw 94vw #FFF , 28vw 33vw #FFF , 52vw 21vw #FFF , 43vw 92vw #FFF , 17vw 71vw #FFF , 95vw 65vw #FFF , 79vw 2vw #FFF , 21vw 18vw #FFF , 21vw 8vw #FFF , 43vw 44vw #FFF , 42vw 44vw #FFF , 6vw 98vw #FFF , 97vw 44vw #FFF , 19vw 58vw #FFF , 14vw 34vw #FFF , 59vw 6vw #FFF , 74vw 47vw #FFF , 9vw 93vw #FFF , 15vw 6vw #FFF , 68vw 15vw #FFF , 71vw 12vw #FFF , 25vw 35vw #FFF;
  animation: animStar 50s linear infinite; }
  #stars:after {
    content: " ";
    position: absolute;
    top: 100vh;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 58vh 31vh #FFF , 99vw 44vw #FFF , 29vw 60vw #FFF , 46vw 15vw #FFF , 85vw 37vw #FFF , 17vw 68vw #FFF , 50vw 82vw #FFF , 21vw 44vw #FFF , 64vw 80vw #FFF , 41vw 9vw #FFF , 27vw 79vw #FFF , 35vw 99vw #FFF , 13vw 21vw #FFF , 8vw 90vw #FFF , 53vw 79vw #FFF , 59vw 47vw #FFF , 78vw 78vw #FFF , 2vw 3vw #FFF , 84vw 32vw #FFF , 47vw 94vw #FFF , 15vw 87vw #FFF , 30vw 92vw #FFF , 97vw 86vw #FFF , 62vw 72vw #FFF , 61vw 11vw #FFF , 27vw 14vw #FFF , 98vw 12vw #FFF , 12vw 42vw #FFF , 86vw 45vw #FFF , 39vw 13vw #FFF , 79vw 59vw #FFF , 61vw 61vw #FFF , 59vw 37vw #FFF , 32vw 30vw #FFF , 69vw 2vw #FFF , 77vw 88vw #FFF , 24vw 59vw #FFF , 32vw 24vw #FFF , 5vw 12vw #FFF , 78vw 80vw #FFF , 98vw 8vw #FFF , 13vw 4vw #FFF , 1vw 89vw #FFF , 90vw 3vw #FFF , 77vw 70vw #FFF , 21vw 60vw #FFF , 11vw 20vw #FFF , 31vw 19vw #FFF , 21vw 9vw #FFF , 13vw 64vw #FFF , 74vw 23vw #FFF , 12vw 40vw #FFF , 30vw 8vw #FFF , 15vw 50vw #FFF , 12vw 31vw #FFF , 23vw 14vw #FFF , 63vw 93vw #FFF , 62vw 30vw #FFF , 97vw 14vw #FFF , 62vw 28vw #FFF , 54vw 78vw #FFF , 31vw 47vw #FFF , 8vw 30vw #FFF , 24vw 87vw #FFF , 4vw 8vw #FFF , 43vw 79vw #FFF , 98vw 46vw #FFF , 41vw 99vw #FFF , 2vw 98vw #FFF , 63vw 19vw #FFF , 39vw 98vw #FFF , 73vw 67vw #FFF , 12vw 98vw #FFF , 36vw 48vw #FFF , 72vw 56vw #FFF , 19vw 62vw #FFF , 87vw 49vw #FFF , 57vw 61vw #FFF , 95vw 52vw #FFF , 15vw 28vw #FFF , 100vw 47vw #FFF , 8vw 5vw #FFF , 7vw 17vw #FFF , 61vw 94vw #FFF , 53vw 35vw #FFF , 80vw 5vw #FFF , 58vw 98vw #FFF , 35vw 37vw #FFF , 8vw 83vw #FFF , 56vw 35vw #FFF , 44vw 91vw #FFF , 41vw 3vw #FFF , 99vw 51vw #FFF , 93vw 14vw #FFF , 73vw 61vw #FFF , 74vw 90vw #FFF , 37vw 86vw #FFF , 9vw 21vw #FFF , 20vw 73vw #FFF , 56vw 50vw #FFF , 62vw 40vw #FFF , 29vw 98vw #FFF , 64vw 54vw #FFF , 69vw 10vw #FFF , 49vw 48vw #FFF , 48vw 17vw #FFF , 75vw 93vw #FFF , 9vw 29vw #FFF , 69vw 38vw #FFF , 54vw 51vw #FFF , 89vw 41vw #FFF , 53vw 90vw #FFF , 69vw 100vw #FFF , 42vw 64vw #FFF , 83vw 96vw #FFF , 53vw 10vw #FFF , 25vw 39vw #FFF , 77vw 9vw #FFF , 54vw 80vw #FFF , 36vw 38vw #FFF , 52vw 6vw #FFF , 83vw 100vw #FFF , 81vw 3vw #FFF , 86vw 81vw #FFF , 91vw 84vw #FFF , 85vw 37vw #FFF , 96vw 64vw #FFF , 100vw 22vw #FFF , 46vw 96vw #FFF , 87vw 46vw #FFF , 98vw 6vw #FFF , 1vw 26vw #FFF , 29vw 92vw #FFF , 86vw 30vw #FFF , 11vw 95vw #FFF , 62vw 83vw #FFF , 64vw 21vw #FFF , 10vw 35vw #FFF , 29vw 34vw #FFF , 5vw 5vw #FFF , 91vw 46vw #FFF , 26vw 70vw #FFF , 40vw 75vw #FFF , 59vw 39vw #FFF , 89vw 29vw #FFF , 58vw 89vw #FFF , 45vw 63vw #FFF , 29vw 14vw #FFF , 17vw 71vw #FFF , 63vw 80vw #FFF , 17vw 25vw #FFF , 26vw 18vw #FFF , 75vw 75vw #FFF , 9vw 20vw #FFF , 20vw 68vw #FFF , 36vw 18vw #FFF , 25vw 61vw #FFF , 5vw 96vw #FFF , 66vw 85vw #FFF , 67vw 7vw #FFF , 80vw 70vw #FFF , 53vw 89vw #FFF , 89vw 98vw #FFF , 21vw 71vw #FFF , 12vw 1vw #FFF , 78vw 33vw #FFF , 27vw 40vw #FFF , 14vw 89vw #FFF , 25vw 64vw #FFF , 100vw 20vw #FFF , 3vw 71vw #FFF , 7vw 80vw #FFF , 69vw 49vw #FFF , 56vw 55vw #FFF , 16vw 99vw #FFF , 32vw 48vw #FFF , 44vw 82vw #FFF , 37vw 19vw #FFF , 74vw 94vw #FFF , 28vw 33vw #FFF , 52vw 21vw #FFF , 43vw 92vw #FFF , 17vw 71vw #FFF , 95vw 65vw #FFF , 79vw 2vw #FFF , 21vw 18vw #FFF , 21vw 8vw #FFF , 43vw 44vw #FFF , 42vw 44vw #FFF , 6vw 98vw #FFF , 97vw 44vw #FFF , 19vw 58vw #FFF , 14vw 34vw #FFF , 59vw 6vw #FFF , 74vw 47vw #FFF , 9vw 93vw #FFF , 15vw 6vw #FFF , 68vw 15vw #FFF , 71vw 12vw #FFF , 25vw 35vw #FFF; }

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 16vh 42vh #FFF , 98vw 58vw #FFF , 36vw 90vw #FFF , 45vw 53vw #FFF , 83vw 6vw #FFF , 31vw 11vw #FFF , 22vw 66vw #FFF , 8vw 47vw #FFF , 43vw 63vw #FFF , 95vw 99vw #FFF , 27vw 58vw #FFF , 13vw 9vw #FFF , 53vw 29vw #FFF , 93vw 64vw #FFF , 67vw 34vw #FFF , 6vw 51vw #FFF , 86vw 44vw #FFF , 63vw 66vw #FFF , 74vw 37vw #FFF , 22vw 54vw #FFF , 29vw 83vw #FFF , 54vw 80vw #FFF , 66vw 76vw #FFF , 11vw 53vw #FFF , 61vw 56vw #FFF , 2vw 98vw #FFF , 34vw 100vw #FFF , 46vw 44vw #FFF , 82vw 60vw #FFF , 50vw 87vw #FFF , 100vw 79vw #FFF , 11vw 56vw #FFF , 22vw 38vw #FFF , 45vw 91vw #FFF , 19vw 52vw #FFF , 48vw 47vw #FFF , 89vw 91vw #FFF , 55vw 41vw #FFF , 24vw 18vw #FFF , 10vw 98vw #FFF , 24vw 9vw #FFF , 73vw 42vw #FFF , 74vw 35vw #FFF , 62vw 67vw #FFF , 33vw 29vw #FFF , 71vw 16vw #FFF , 33vw 32vw #FFF , 67vw 39vw #FFF , 99vw 7vw #FFF , 39vw 49vw #FFF , 37vw 74vw #FFF , 100vw 45vw #FFF , 2vw 83vw #FFF , 61vw 37vw #FFF , 30vw 42vw #FFF , 8vw 78vw #FFF , 86vw 59vw #FFF , 1vw 63vw #FFF , 49vw 30vw #FFF , 61vw 38vw #FFF , 51vw 8vw #FFF , 88vw 49vw #FFF , 73vw 7vw #FFF , 39vw 97vw #FFF , 56vw 18vw #FFF , 98vw 52vw #FFF , 49vw 69vw #FFF , 12vw 4vw #FFF , 96vw 71vw #FFF , 16vw 44vw #FFF , 3vw 93vw #FFF , 18vw 57vw #FFF , 1vw 13vw #FFF , 5vw 56vw #FFF , 54vw 29vw #FFF , 29vw 67vw #FFF , 28vw 25vw #FFF , 62vw 38vw #FFF , 81vw 82vw #FFF , 45vw 4vw #FFF , 73vw 36vw #FFF , 39vw 100vw #FFF , 35vw 81vw #FFF , 39vw 2vw #FFF , 81vw 94vw #FFF , 61vw 75vw #FFF , 2vw 45vw #FFF , 67vw 8vw #FFF , 49vw 74vw #FFF , 24vw 76vw #FFF , 100vw 25vw #FFF , 29vw 34vw #FFF , 74vw 95vw #FFF , 45vw 1vw #FFF , 10vw 5vw #FFF , 79vw 32vw #FFF , 50vw 71vw #FFF , 30vw 83vw #FFF , 32vw 3vw #FFF , 23vw 70vw #FFF , 8vw 53vw #FFF , 57vw 49vw #FFF , 31vw 1vw #FFF , 97vw 70vw #FFF , 29vw 40vw #FFF , 35vw 57vw #FFF , 65vw 89vw #FFF , 20vw 28vw #FFF , 88vw 36vw #FFF , 100vw 37vw #FFF , 16vw 14vw #FFF , 10vw 77vw #FFF , 50vw 4vw #FFF , 63vw 32vw #FFF , 69vw 1vw #FFF , 21vw 73vw #FFF , 87vw 44vw #FFF , 40vw 43vw #FFF , 85vw 95vw #FFF , 69vw 31vw #FFF , 42vw 59vw #FFF , 46vw 29vw #FFF , 54vw 50vw #FFF , 40vw 45vw #FFF , 29vw 76vw #FFF , 78vw 96vw #FFF , 40vw 54vw #FFF , 4vw 80vw #FFF , 49vw 64vw #FFF , 8vw 56vw #FFF , 18vw 25vw #FFF , 52vw 92vw #FFF , 29vw 27vw #FFF , 53vw 4vw #FFF , 60vw 34vw #FFF , 8vw 19vw #FFF , 2vw 85vw #FFF , 27vw 15vw #FFF , 5vw 13vw #FFF , 57vw 26vw #FFF , 97vw 87vw #FFF , 48vw 62vw #FFF , 91vw 52vw #FFF , 82vw 6vw #FFF , 70vw 87vw #FFF , 45vw 6vw #FFF , 13vw 84vw #FFF , 35vw 58vw #FFF , 44vw 19vw #FFF , 14vw 94vw #FFF , 19vw 40vw #FFF , 45vw 98vw #FFF , 5vw 84vw #FFF , 94vw 30vw #FFF , 14vw 79vw #FFF , 99vw 30vw #FFF , 31vw 80vw #FFF , 40vw 11vw #FFF , 74vw 37vw #FFF , 99vw 5vw #FFF , 8vw 92vw #FFF , 79vw 46vw #FFF , 17vw 6vw #FFF , 94vw 2vw #FFF , 8vw 2vw #FFF , 36vw 30vw #FFF , 76vw 96vw #FFF , 76vw 42vw #FFF , 45vw 7vw #FFF , 35vw 44vw #FFF , 14vw 53vw #FFF , 68vw 38vw #FFF , 79vw 42vw #FFF , 29vw 40vw #FFF , 73vw 56vw #FFF , 54vw 59vw #FFF , 70vw 37vw #FFF , 93vw 45vw #FFF , 13vw 28vw #FFF , 75vw 32vw #FFF , 45vw 25vw #FFF , 54vw 75vw #FFF , 44vw 81vw #FFF , 77vw 68vw #FFF , 27vw 33vw #FFF , 86vw 28vw #FFF , 36vw 49vw #FFF , 41vw 96vw #FFF , 41vw 49vw #FFF , 54vw 100vw #FFF , 16vw 74vw #FFF , 30vw 10vw #FFF , 40vw 40vw #FFF , 96vw 78vw #FFF , 91vw 50vw #FFF , 56vw 60vw #FFF , 48vw 87vw #FFF , 96vw 16vw #FFF , 50vw 12vw #FFF , 67vw 45vw #FFF;
  animation: animStar 100s linear infinite; }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 100vh;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 16vh 42vh #FFF , 98vw 58vw #FFF , 36vw 90vw #FFF , 45vw 53vw #FFF , 83vw 6vw #FFF , 31vw 11vw #FFF , 22vw 66vw #FFF , 8vw 47vw #FFF , 43vw 63vw #FFF , 95vw 99vw #FFF , 27vw 58vw #FFF , 13vw 9vw #FFF , 53vw 29vw #FFF , 93vw 64vw #FFF , 67vw 34vw #FFF , 6vw 51vw #FFF , 86vw 44vw #FFF , 63vw 66vw #FFF , 74vw 37vw #FFF , 22vw 54vw #FFF , 29vw 83vw #FFF , 54vw 80vw #FFF , 66vw 76vw #FFF , 11vw 53vw #FFF , 61vw 56vw #FFF , 2vw 98vw #FFF , 34vw 100vw #FFF , 46vw 44vw #FFF , 82vw 60vw #FFF , 50vw 87vw #FFF , 100vw 79vw #FFF , 11vw 56vw #FFF , 22vw 38vw #FFF , 45vw 91vw #FFF , 19vw 52vw #FFF , 48vw 47vw #FFF , 89vw 91vw #FFF , 55vw 41vw #FFF , 24vw 18vw #FFF , 10vw 98vw #FFF , 24vw 9vw #FFF , 73vw 42vw #FFF , 74vw 35vw #FFF , 62vw 67vw #FFF , 33vw 29vw #FFF , 71vw 16vw #FFF , 33vw 32vw #FFF , 67vw 39vw #FFF , 99vw 7vw #FFF , 39vw 49vw #FFF , 37vw 74vw #FFF , 100vw 45vw #FFF , 2vw 83vw #FFF , 61vw 37vw #FFF , 30vw 42vw #FFF , 8vw 78vw #FFF , 86vw 59vw #FFF , 1vw 63vw #FFF , 49vw 30vw #FFF , 61vw 38vw #FFF , 51vw 8vw #FFF , 88vw 49vw #FFF , 73vw 7vw #FFF , 39vw 97vw #FFF , 56vw 18vw #FFF , 98vw 52vw #FFF , 49vw 69vw #FFF , 12vw 4vw #FFF , 96vw 71vw #FFF , 16vw 44vw #FFF , 3vw 93vw #FFF , 18vw 57vw #FFF , 1vw 13vw #FFF , 5vw 56vw #FFF , 54vw 29vw #FFF , 29vw 67vw #FFF , 28vw 25vw #FFF , 62vw 38vw #FFF , 81vw 82vw #FFF , 45vw 4vw #FFF , 73vw 36vw #FFF , 39vw 100vw #FFF , 35vw 81vw #FFF , 39vw 2vw #FFF , 81vw 94vw #FFF , 61vw 75vw #FFF , 2vw 45vw #FFF , 67vw 8vw #FFF , 49vw 74vw #FFF , 24vw 76vw #FFF , 100vw 25vw #FFF , 29vw 34vw #FFF , 74vw 95vw #FFF , 45vw 1vw #FFF , 10vw 5vw #FFF , 79vw 32vw #FFF , 50vw 71vw #FFF , 30vw 83vw #FFF , 32vw 3vw #FFF , 23vw 70vw #FFF , 8vw 53vw #FFF , 57vw 49vw #FFF , 31vw 1vw #FFF , 97vw 70vw #FFF , 29vw 40vw #FFF , 35vw 57vw #FFF , 65vw 89vw #FFF , 20vw 28vw #FFF , 88vw 36vw #FFF , 100vw 37vw #FFF , 16vw 14vw #FFF , 10vw 77vw #FFF , 50vw 4vw #FFF , 63vw 32vw #FFF , 69vw 1vw #FFF , 21vw 73vw #FFF , 87vw 44vw #FFF , 40vw 43vw #FFF , 85vw 95vw #FFF , 69vw 31vw #FFF , 42vw 59vw #FFF , 46vw 29vw #FFF , 54vw 50vw #FFF , 40vw 45vw #FFF , 29vw 76vw #FFF , 78vw 96vw #FFF , 40vw 54vw #FFF , 4vw 80vw #FFF , 49vw 64vw #FFF , 8vw 56vw #FFF , 18vw 25vw #FFF , 52vw 92vw #FFF , 29vw 27vw #FFF , 53vw 4vw #FFF , 60vw 34vw #FFF , 8vw 19vw #FFF , 2vw 85vw #FFF , 27vw 15vw #FFF , 5vw 13vw #FFF , 57vw 26vw #FFF , 97vw 87vw #FFF , 48vw 62vw #FFF , 91vw 52vw #FFF , 82vw 6vw #FFF , 70vw 87vw #FFF , 45vw 6vw #FFF , 13vw 84vw #FFF , 35vw 58vw #FFF , 44vw 19vw #FFF , 14vw 94vw #FFF , 19vw 40vw #FFF , 45vw 98vw #FFF , 5vw 84vw #FFF , 94vw 30vw #FFF , 14vw 79vw #FFF , 99vw 30vw #FFF , 31vw 80vw #FFF , 40vw 11vw #FFF , 74vw 37vw #FFF , 99vw 5vw #FFF , 8vw 92vw #FFF , 79vw 46vw #FFF , 17vw 6vw #FFF , 94vw 2vw #FFF , 8vw 2vw #FFF , 36vw 30vw #FFF , 76vw 96vw #FFF , 76vw 42vw #FFF , 45vw 7vw #FFF , 35vw 44vw #FFF , 14vw 53vw #FFF , 68vw 38vw #FFF , 79vw 42vw #FFF , 29vw 40vw #FFF , 73vw 56vw #FFF , 54vw 59vw #FFF , 70vw 37vw #FFF , 93vw 45vw #FFF , 13vw 28vw #FFF , 75vw 32vw #FFF , 45vw 25vw #FFF , 54vw 75vw #FFF , 44vw 81vw #FFF , 77vw 68vw #FFF , 27vw 33vw #FFF , 86vw 28vw #FFF , 36vw 49vw #FFF , 41vw 96vw #FFF , 41vw 49vw #FFF , 54vw 100vw #FFF , 16vw 74vw #FFF , 30vw 10vw #FFF , 40vw 40vw #FFF , 96vw 78vw #FFF , 91vw 50vw #FFF , 56vw 60vw #FFF , 48vw 87vw #FFF , 96vw 16vw #FFF , 50vw 12vw #FFF , 67vw 45vw #FFF; }

#stars3 {
  width: 2.5px;
  height: 2.5px;
  background: transparent;
  box-shadow: 82vh 82vh #FFF , 5vw 14vw #FFF , 52vw 10vw #FFF , 77vw 97vw #FFF , 47vw 26vw #FFF , 5vw 66vw #FFF , 35vw 35vw #FFF , 25vw 15vw #FFF , 36vw 68vw #FFF , 2vw 79vw #FFF , 60vw 95vw #FFF , 78vw 21vw #FFF , 71vw 85vw #FFF , 69vw 32vw #FFF , 25vw 21vw #FFF , 4vw 58vw #FFF , 60vw 45vw #FFF , 94vw 95vw #FFF , 86vw 36vw #FFF , 65vw 44vw #FFF , 79vw 14vw #FFF , 71vw 9vw #FFF , 31vw 58vw #FFF , 66vw 25vw #FFF , 38vw 8vw #FFF , 81vw 60vw #FFF , 85vw 95vw #FFF , 67vw 32vw #FFF , 97vw 5vw #FFF , 33vw 24vw #FFF , 13vw 9vw #FFF , 63vw 53vw #FFF , 3vw 79vw #FFF , 89vw 11vw #FFF , 73vw 14vw #FFF , 71vw 67vw #FFF , 46vw 73vw #FFF , 16vw 44vw #FFF , 39vw 98vw #FFF , 44vw 77vw #FFF , 31vw 92vw #FFF , 42vw 11vw #FFF , 98vw 9vw #FFF , 62vw 73vw #FFF , 62vw 23vw #FFF , 88vw 64vw #FFF , 16vw 54vw #FFF , 75vw 57vw #FFF , 19vw 98vw #FFF , 20vw 48vw #FFF , 85vw 58vw #FFF , 82vw 72vw #FFF , 92vw 60vw #FFF , 69vw 60vw #FFF , 87vw 70vw #FFF , 75vw 20vw #FFF , 91vw 62vw #FFF , 92vw 91vw #FFF , 36vw 95vw #FFF , 90vw 27vw #FFF , 43vw 87vw #FFF , 97vw 63vw #FFF , 44vw 51vw #FFF , 29vw 28vw #FFF , 61vw 99vw #FFF , 19vw 44vw #FFF , 56vw 23vw #FFF , 94vw 50vw #FFF , 90vw 12vw #FFF , 88vw 86vw #FFF , 89vw 100vw #FFF , 3vw 69vw #FFF , 99vw 66vw #FFF , 94vw 36vw #FFF , 50vw 26vw #FFF , 11vw 59vw #FFF , 84vw 3vw #FFF , 42vw 69vw #FFF , 98vw 13vw #FFF , 44vw 32vw #FFF , 37vw 3vw #FFF , 36vw 24vw #FFF , 66vw 9vw #FFF , 29vw 37vw #FFF , 6vw 91vw #FFF , 6vw 65vw #FFF , 26vw 40vw #FFF , 88vw 77vw #FFF , 16vw 72vw #FFF , 23vw 9vw #FFF , 22vw 7vw #FFF , 20vw 83vw #FFF , 19vw 11vw #FFF , 30vw 8vw #FFF , 4vw 1vw #FFF , 5vw 17vw #FFF , 52vw 97vw #FFF , 77vw 33vw #FFF , 28vw 56vw #FFF , 88vw 44vw #FFF;
  animation: animStar 150s linear infinite; }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 100vh;
    width: 2.5px;
    height: 2.5px;
    background: transparent;
    box-shadow: 82vh 82vh #FFF , 5vw 14vw #FFF , 52vw 10vw #FFF , 77vw 97vw #FFF , 47vw 26vw #FFF , 5vw 66vw #FFF , 35vw 35vw #FFF , 25vw 15vw #FFF , 36vw 68vw #FFF , 2vw 79vw #FFF , 60vw 95vw #FFF , 78vw 21vw #FFF , 71vw 85vw #FFF , 69vw 32vw #FFF , 25vw 21vw #FFF , 4vw 58vw #FFF , 60vw 45vw #FFF , 94vw 95vw #FFF , 86vw 36vw #FFF , 65vw 44vw #FFF , 79vw 14vw #FFF , 71vw 9vw #FFF , 31vw 58vw #FFF , 66vw 25vw #FFF , 38vw 8vw #FFF , 81vw 60vw #FFF , 85vw 95vw #FFF , 67vw 32vw #FFF , 97vw 5vw #FFF , 33vw 24vw #FFF , 13vw 9vw #FFF , 63vw 53vw #FFF , 3vw 79vw #FFF , 89vw 11vw #FFF , 73vw 14vw #FFF , 71vw 67vw #FFF , 46vw 73vw #FFF , 16vw 44vw #FFF , 39vw 98vw #FFF , 44vw 77vw #FFF , 31vw 92vw #FFF , 42vw 11vw #FFF , 98vw 9vw #FFF , 62vw 73vw #FFF , 62vw 23vw #FFF , 88vw 64vw #FFF , 16vw 54vw #FFF , 75vw 57vw #FFF , 19vw 98vw #FFF , 20vw 48vw #FFF , 85vw 58vw #FFF , 82vw 72vw #FFF , 92vw 60vw #FFF , 69vw 60vw #FFF , 87vw 70vw #FFF , 75vw 20vw #FFF , 91vw 62vw #FFF , 92vw 91vw #FFF , 36vw 95vw #FFF , 90vw 27vw #FFF , 43vw 87vw #FFF , 97vw 63vw #FFF , 44vw 51vw #FFF , 29vw 28vw #FFF , 61vw 99vw #FFF , 19vw 44vw #FFF , 56vw 23vw #FFF , 94vw 50vw #FFF , 90vw 12vw #FFF , 88vw 86vw #FFF , 89vw 100vw #FFF , 3vw 69vw #FFF , 99vw 66vw #FFF , 94vw 36vw #FFF , 50vw 26vw #FFF , 11vw 59vw #FFF , 84vw 3vw #FFF , 42vw 69vw #FFF , 98vw 13vw #FFF , 44vw 32vw #FFF , 37vw 3vw #FFF , 36vw 24vw #FFF , 66vw 9vw #FFF , 29vw 37vw #FFF , 6vw 91vw #FFF , 6vw 65vw #FFF , 26vw 40vw #FFF , 88vw 77vw #FFF , 16vw 72vw #FFF , 23vw 9vw #FFF , 22vw 7vw #FFF , 20vw 83vw #FFF , 19vw 11vw #FFF , 30vw 8vw #FFF , 4vw 1vw #FFF , 5vw 17vw #FFF , 52vw 97vw #FFF , 77vw 33vw #FFF , 28vw 56vw #FFF , 88vw 44vw #FFF; }

@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-100vh); } }

.te-container {
  font-size: 4rem;
  text-align: left;
  margin: 2rem auto;
  padding: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #0f22ca; }

:root {
  --fs-html: 62.5%;
  --fs-body: 1.6rem;
  --font-family: "Outfit", sans-serif; }

html {
  font-size: var(--fs-html);
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  color-scheme: dark;
  height: 100vh; }

body {
  line-height: 1.5;
  font-size: var(--fs-body);
  font-family: var(--font-family);
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center; }

@media (max-width: 375px) {
  .fs-tiny {
    font-size: 1.5rem; } }
