.main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
  min-height: 100vh;
  min-height: 100dvh; }
  .main .social-icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2rem;
    font-size: 4rem; }
    .main .social-icons a {
      padding-inline: 1rem;
      color: white;
      transition: 0.5s color, 5s transform; }
      .main .social-icons a:hover {
        color: #0f0ffc; }
  .main-container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 800px;
    height: 500px;
    margin: auto;
    box-shadow: 0 0 0.4rem darkblue;
    border-radius: 0.5rem; }
  .main-paragraph {
    font-size: 2rem;
    padding: 1.5rem;
    letter-spacing: 2;
    color: white;
    text-shadow: 0 0 3px black; }
    .main-paragraph::first-line {
      text-shadow: 0 0 2rem #0f0ffc;
      color: red; }
  .main-tabs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center; }
    .main-tabs > * {
      flex: 1 1 100%; }
    .main-tabs input {
      display: none; }
    .main-tabs label {
      cursor: pointer;
      border: 0.2rem solid;
      border-image: linear-gradient(to right, #365bff, #f10707);
      border-image-slice: 1;
      border-radius: 1rem;
      padding: 1rem 1rem;
      margin: 1rem;
      box-shadow: 0 0 1rem black;
      transition: 0.5s all; }
    .main-tabs label:hover {
      transform: translateY(-1rem);
      color: #ff1e1e; }
  .main .main-skill {
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-around;
    align-items: center; }
    .main .main-skill .main-skill-icon {
      font-size: 5rem;
      color: #b92323; }
    .main .main-skill-frontend {
      width: 100%;
      padding: 1rem;
      border-right: 0.3rem solid rgba(17, 0, 255, 0.2); }
      .main .main-skill-frontend h2 {
        margin: 0; }
      .main .main-skill-frontend-names {
        display: flex;
        justify-content: space-between; }
    .main .main-skill-tool {
      padding: 1rem;
      width: 100%; }
      .main .main-skill-tool-name {
        display: flex;
        justify-content: space-between; }
  .main .main-education {
    justify-content: space-between;
    align-items: start;
    font-size: 2rem;
    padding: 1.5rem;
    height: 20rem; }
    .main .main-education .main-education > * {
      flex: 1 1 100%; }
  .main .left {
    color: #b6a3fa;
    text-shadow: 0 0 0.3rem rgb 182, 163, 250; }
  .main .main-experience {
    justify-content: center;
    align-items: center;
    color: #b6a3fa;
    font-size: 3rem;
    padding: 1.5rem;
    height: 20rem; }

.tab1,
.tab2,
.tab3,
.tab4 {
  display: none; }

.active {
  display: flex; }

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden; }

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 276px 1124px #FFF , 360px 1740px #FFF , 1075px 1482px #FFF , 1402px 5px #FFF , 79px 1749px #FFF , 1533px 1290px #FFF , 120px 721px #FFF , 1609px 588px #FFF , 1209px 80px #FFF , 1073px 1922px #FFF , 857px 1328px #FFF , 554px 1083px #FFF , 1744px 1425px #FFF , 1515px 137px #FFF , 861px 900px #FFF , 617px 1982px #FFF , 1879px 1702px #FFF , 1975px 1660px #FFF , 1862px 677px #FFF , 842px 635px #FFF , 102px 71px #FFF , 1370px 1938px #FFF , 649px 1746px #FFF , 171px 1747px #FFF , 77px 1667px #FFF , 225px 1272px #FFF , 1836px 680px #FFF , 1835px 1931px #FFF , 223px 379px #FFF , 466px 315px #FFF , 340px 1522px #FFF , 1450px 215px #FFF , 1993px 1251px #FFF , 777px 653px #FFF , 1561px 1827px #FFF , 891px 193px #FFF , 1863px 1192px #FFF , 1192px 623px #FFF , 1440px 1374px #FFF , 1037px 1940px #FFF , 671px 1104px #FFF , 1215px 66px #FFF , 1968px 1583px #FFF , 608px 388px #FFF , 119px 609px #FFF , 354px 1687px #FFF , 253px 1651px #FFF , 331px 664px #FFF , 703px 1684px #FFF , 457px 635px #FFF , 841px 735px #FFF , 336px 1093px #FFF , 635px 1841px #FFF , 1921px 1501px #FFF , 44px 689px #FFF , 145px 1708px #FFF , 202px 504px #FFF , 368px 1097px #FFF , 621px 691px #FFF , 257px 556px #FFF , 1174px 317px #FFF , 542px 1520px #FFF , 1722px 1227px #FFF , 1267px 681px #FFF , 391px 307px #FFF , 422px 1040px #FFF , 1668px 1697px #FFF , 518px 438px #FFF , 1026px 862px #FFF , 1092px 20px #FFF , 402px 498px #FFF , 1485px 62px #FFF , 1947px 370px #FFF , 309px 1671px #FFF , 402px 1040px #FFF , 56px 427px #FFF , 1601px 1279px #FFF , 1033px 1810px #FFF , 1814px 1816px #FFF , 482px 798px #FFF , 397px 777px #FFF , 1706px 1059px #FFF , 1423px 869px #FFF , 1991px 120px #FFF , 586px 1601px #FFF , 1400px 36px #FFF , 1731px 61px #FFF , 508px 980px #FFF , 50px 1217px #FFF , 1930px 267px #FFF , 1783px 500px #FFF , 303px 570px #FFF , 792px 133px #FFF , 1878px 803px #FFF , 1536px 1550px #FFF , 1770px 1744px #FFF , 327px 872px #FFF , 1012px 1137px #FFF , 1062px 339px #FFF , 1983px 646px #FFF;
  animation: animStar 50s linear infinite; }
  #stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 276px 1124px #FFF , 360px 1740px #FFF , 1075px 1482px #FFF , 1402px 5px #FFF , 79px 1749px #FFF , 1533px 1290px #FFF , 120px 721px #FFF , 1609px 588px #FFF , 1209px 80px #FFF , 1073px 1922px #FFF , 857px 1328px #FFF , 554px 1083px #FFF , 1744px 1425px #FFF , 1515px 137px #FFF , 861px 900px #FFF , 617px 1982px #FFF , 1879px 1702px #FFF , 1975px 1660px #FFF , 1862px 677px #FFF , 842px 635px #FFF , 102px 71px #FFF , 1370px 1938px #FFF , 649px 1746px #FFF , 171px 1747px #FFF , 77px 1667px #FFF , 225px 1272px #FFF , 1836px 680px #FFF , 1835px 1931px #FFF , 223px 379px #FFF , 466px 315px #FFF , 340px 1522px #FFF , 1450px 215px #FFF , 1993px 1251px #FFF , 777px 653px #FFF , 1561px 1827px #FFF , 891px 193px #FFF , 1863px 1192px #FFF , 1192px 623px #FFF , 1440px 1374px #FFF , 1037px 1940px #FFF , 671px 1104px #FFF , 1215px 66px #FFF , 1968px 1583px #FFF , 608px 388px #FFF , 119px 609px #FFF , 354px 1687px #FFF , 253px 1651px #FFF , 331px 664px #FFF , 703px 1684px #FFF , 457px 635px #FFF , 841px 735px #FFF , 336px 1093px #FFF , 635px 1841px #FFF , 1921px 1501px #FFF , 44px 689px #FFF , 145px 1708px #FFF , 202px 504px #FFF , 368px 1097px #FFF , 621px 691px #FFF , 257px 556px #FFF , 1174px 317px #FFF , 542px 1520px #FFF , 1722px 1227px #FFF , 1267px 681px #FFF , 391px 307px #FFF , 422px 1040px #FFF , 1668px 1697px #FFF , 518px 438px #FFF , 1026px 862px #FFF , 1092px 20px #FFF , 402px 498px #FFF , 1485px 62px #FFF , 1947px 370px #FFF , 309px 1671px #FFF , 402px 1040px #FFF , 56px 427px #FFF , 1601px 1279px #FFF , 1033px 1810px #FFF , 1814px 1816px #FFF , 482px 798px #FFF , 397px 777px #FFF , 1706px 1059px #FFF , 1423px 869px #FFF , 1991px 120px #FFF , 586px 1601px #FFF , 1400px 36px #FFF , 1731px 61px #FFF , 508px 980px #FFF , 50px 1217px #FFF , 1930px 267px #FFF , 1783px 500px #FFF , 303px 570px #FFF , 792px 133px #FFF , 1878px 803px #FFF , 1536px 1550px #FFF , 1770px 1744px #FFF , 327px 872px #FFF , 1012px 1137px #FFF , 1062px 339px #FFF , 1983px 646px #FFF; }

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 729px 644px #FFF , 470px 1504px #FFF , 1786px 598px #FFF , 1087px 53px #FFF , 1829px 1851px #FFF , 1031px 1799px #FFF , 1692px 650px #FFF , 872px 1259px #FFF , 1574px 690px #FFF , 1700px 1163px #FFF , 1440px 68px #FFF , 999px 472px #FFF , 1273px 1520px #FFF , 321px 515px #FFF , 369px 1891px #FFF , 484px 428px #FFF , 1962px 1355px #FFF , 1200px 1448px #FFF , 848px 252px #FFF , 1846px 1655px #FFF , 4px 1832px #FFF , 1668px 1687px #FFF , 701px 1532px #FFF , 640px 87px #FFF , 1473px 1071px #FFF , 1495px 593px #FFF , 1137px 1538px #FFF , 95px 1538px #FFF , 792px 1137px #FFF , 1979px 743px #FFF , 1135px 1494px #FFF , 349px 503px #FFF , 1218px 683px #FFF , 1429px 155px #FFF , 1998px 487px #FFF , 564px 1092px #FFF , 1908px 1174px #FFF , 786px 1352px #FFF , 45px 127px #FFF , 10px 1256px #FFF , 1337px 63px #FFF , 1803px 897px #FFF , 1996px 852px #FFF , 1921px 1968px #FFF , 227px 998px #FFF , 1336px 1247px #FFF , 826px 999px #FFF , 129px 1432px #FFF , 1248px 79px #FFF , 1678px 966px #FFF , 1648px 15px #FFF , 245px 278px #FFF , 1947px 773px #FFF , 491px 423px #FFF , 161px 693px #FFF , 81px 718px #FFF , 1894px 1022px #FFF , 407px 1118px #FFF , 1863px 1343px #FFF , 1267px 1580px #FFF , 891px 460px #FFF , 1167px 498px #FFF , 1729px 576px #FFF , 1523px 132px #FFF , 1182px 326px #FFF , 254px 1682px #FFF , 1289px 587px #FFF , 613px 692px #FFF , 1619px 1811px #FFF , 626px 1215px #FFF , 1384px 1711px #FFF , 265px 1732px #FFF , 359px 1255px #FFF , 1073px 419px #FFF , 479px 908px #FFF , 691px 1941px #FFF , 1001px 1143px #FFF , 1763px 1013px #FFF , 1185px 573px #FFF , 695px 1467px #FFF , 993px 1801px #FFF , 822px 1224px #FFF , 604px 949px #FFF , 528px 954px #FFF , 60px 425px #FFF , 1355px 130px #FFF , 339px 557px #FFF , 1406px 865px #FFF , 916px 357px #FFF , 187px 852px #FFF , 292px 1319px #FFF , 1054px 1061px #FFF , 345px 461px #FFF , 1899px 942px #FFF , 1139px 1745px #FFF , 1012px 797px #FFF , 88px 1623px #FFF , 135px 1548px #FFF , 1592px 1642px #FFF , 1002px 1663px #FFF;
  animation: animStar 100s linear infinite; }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 729px 644px #FFF , 470px 1504px #FFF , 1786px 598px #FFF , 1087px 53px #FFF , 1829px 1851px #FFF , 1031px 1799px #FFF , 1692px 650px #FFF , 872px 1259px #FFF , 1574px 690px #FFF , 1700px 1163px #FFF , 1440px 68px #FFF , 999px 472px #FFF , 1273px 1520px #FFF , 321px 515px #FFF , 369px 1891px #FFF , 484px 428px #FFF , 1962px 1355px #FFF , 1200px 1448px #FFF , 848px 252px #FFF , 1846px 1655px #FFF , 4px 1832px #FFF , 1668px 1687px #FFF , 701px 1532px #FFF , 640px 87px #FFF , 1473px 1071px #FFF , 1495px 593px #FFF , 1137px 1538px #FFF , 95px 1538px #FFF , 792px 1137px #FFF , 1979px 743px #FFF , 1135px 1494px #FFF , 349px 503px #FFF , 1218px 683px #FFF , 1429px 155px #FFF , 1998px 487px #FFF , 564px 1092px #FFF , 1908px 1174px #FFF , 786px 1352px #FFF , 45px 127px #FFF , 10px 1256px #FFF , 1337px 63px #FFF , 1803px 897px #FFF , 1996px 852px #FFF , 1921px 1968px #FFF , 227px 998px #FFF , 1336px 1247px #FFF , 826px 999px #FFF , 129px 1432px #FFF , 1248px 79px #FFF , 1678px 966px #FFF , 1648px 15px #FFF , 245px 278px #FFF , 1947px 773px #FFF , 491px 423px #FFF , 161px 693px #FFF , 81px 718px #FFF , 1894px 1022px #FFF , 407px 1118px #FFF , 1863px 1343px #FFF , 1267px 1580px #FFF , 891px 460px #FFF , 1167px 498px #FFF , 1729px 576px #FFF , 1523px 132px #FFF , 1182px 326px #FFF , 254px 1682px #FFF , 1289px 587px #FFF , 613px 692px #FFF , 1619px 1811px #FFF , 626px 1215px #FFF , 1384px 1711px #FFF , 265px 1732px #FFF , 359px 1255px #FFF , 1073px 419px #FFF , 479px 908px #FFF , 691px 1941px #FFF , 1001px 1143px #FFF , 1763px 1013px #FFF , 1185px 573px #FFF , 695px 1467px #FFF , 993px 1801px #FFF , 822px 1224px #FFF , 604px 949px #FFF , 528px 954px #FFF , 60px 425px #FFF , 1355px 130px #FFF , 339px 557px #FFF , 1406px 865px #FFF , 916px 357px #FFF , 187px 852px #FFF , 292px 1319px #FFF , 1054px 1061px #FFF , 345px 461px #FFF , 1899px 942px #FFF , 1139px 1745px #FFF , 1012px 797px #FFF , 88px 1623px #FFF , 135px 1548px #FFF , 1592px 1642px #FFF , 1002px 1663px #FFF; }

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 78px 1274px #FFF , 1252px 731px #FFF , 758px 295px #FFF , 578px 1475px #FFF , 1374px 1869px #FFF , 1522px 753px #FFF , 70px 1829px #FFF , 24px 1776px #FFF , 1897px 1634px #FFF , 1874px 535px #FFF , 748px 164px #FFF , 290px 1038px #FFF , 1562px 739px #FFF , 1534px 437px #FFF , 447px 617px #FFF , 331px 826px #FFF , 1809px 243px #FFF , 445px 1330px #FFF , 913px 1118px #FFF , 469px 1908px #FFF , 901px 490px #FFF , 1751px 1297px #FFF , 1707px 737px #FFF , 1118px 472px #FFF , 755px 629px #FFF , 778px 432px #FFF , 412px 989px #FFF , 14px 1685px #FFF , 1168px 639px #FFF , 455px 1689px #FFF , 245px 1932px #FFF , 604px 1268px #FFF , 1958px 574px #FFF , 427px 1222px #FFF , 1818px 1301px #FFF , 1537px 806px #FFF , 1490px 1517px #FFF , 916px 1327px #FFF , 1522px 885px #FFF , 1321px 432px #FFF , 1295px 1136px #FFF , 319px 978px #FFF , 986px 1571px #FFF , 220px 1290px #FFF , 133px 198px #FFF , 1853px 976px #FFF , 1876px 1392px #FFF , 1019px 1928px #FFF , 238px 795px #FFF , 260px 1058px #FFF , 433px 683px #FFF , 326px 1370px #FFF , 1727px 39px #FFF , 648px 1907px #FFF , 113px 712px #FFF , 451px 1166px #FFF , 1398px 523px #FFF , 1958px 1600px #FFF , 64px 975px #FFF , 1587px 300px #FFF , 989px 1681px #FFF , 592px 1619px #FFF , 477px 1179px #FFF , 1701px 1977px #FFF , 285px 1492px #FFF , 120px 588px #FFF , 351px 359px #FFF , 1309px 1750px #FFF , 178px 1832px #FFF , 850px 1794px #FFF , 926px 1378px #FFF , 102px 847px #FFF , 1185px 801px #FFF , 1334px 1791px #FFF , 1285px 1812px #FFF , 1931px 521px #FFF , 1196px 691px #FFF , 1296px 345px #FFF , 1793px 284px #FFF , 429px 727px #FFF , 1871px 208px #FFF , 1908px 1279px #FFF , 544px 969px #FFF , 511px 846px #FFF , 968px 603px #FFF , 436px 1385px #FFF , 806px 611px #FFF , 1439px 1288px #FFF , 1597px 139px #FFF , 1953px 1307px #FFF , 1939px 1245px #FFF , 831px 342px #FFF , 1681px 1173px #FFF , 1916px 780px #FFF , 1504px 449px #FFF , 1274px 1533px #FFF , 1131px 366px #FFF , 1988px 1329px #FFF , 257px 1833px #FFF , 1116px 971px #FFF;
  animation: animStar 150s linear infinite; }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 78px 1274px #FFF , 1252px 731px #FFF , 758px 295px #FFF , 578px 1475px #FFF , 1374px 1869px #FFF , 1522px 753px #FFF , 70px 1829px #FFF , 24px 1776px #FFF , 1897px 1634px #FFF , 1874px 535px #FFF , 748px 164px #FFF , 290px 1038px #FFF , 1562px 739px #FFF , 1534px 437px #FFF , 447px 617px #FFF , 331px 826px #FFF , 1809px 243px #FFF , 445px 1330px #FFF , 913px 1118px #FFF , 469px 1908px #FFF , 901px 490px #FFF , 1751px 1297px #FFF , 1707px 737px #FFF , 1118px 472px #FFF , 755px 629px #FFF , 778px 432px #FFF , 412px 989px #FFF , 14px 1685px #FFF , 1168px 639px #FFF , 455px 1689px #FFF , 245px 1932px #FFF , 604px 1268px #FFF , 1958px 574px #FFF , 427px 1222px #FFF , 1818px 1301px #FFF , 1537px 806px #FFF , 1490px 1517px #FFF , 916px 1327px #FFF , 1522px 885px #FFF , 1321px 432px #FFF , 1295px 1136px #FFF , 319px 978px #FFF , 986px 1571px #FFF , 220px 1290px #FFF , 133px 198px #FFF , 1853px 976px #FFF , 1876px 1392px #FFF , 1019px 1928px #FFF , 238px 795px #FFF , 260px 1058px #FFF , 433px 683px #FFF , 326px 1370px #FFF , 1727px 39px #FFF , 648px 1907px #FFF , 113px 712px #FFF , 451px 1166px #FFF , 1398px 523px #FFF , 1958px 1600px #FFF , 64px 975px #FFF , 1587px 300px #FFF , 989px 1681px #FFF , 592px 1619px #FFF , 477px 1179px #FFF , 1701px 1977px #FFF , 285px 1492px #FFF , 120px 588px #FFF , 351px 359px #FFF , 1309px 1750px #FFF , 178px 1832px #FFF , 850px 1794px #FFF , 926px 1378px #FFF , 102px 847px #FFF , 1185px 801px #FFF , 1334px 1791px #FFF , 1285px 1812px #FFF , 1931px 521px #FFF , 1196px 691px #FFF , 1296px 345px #FFF , 1793px 284px #FFF , 429px 727px #FFF , 1871px 208px #FFF , 1908px 1279px #FFF , 544px 969px #FFF , 511px 846px #FFF , 968px 603px #FFF , 436px 1385px #FFF , 806px 611px #FFF , 1439px 1288px #FFF , 1597px 139px #FFF , 1953px 1307px #FFF , 1939px 1245px #FFF , 831px 342px #FFF , 1681px 1173px #FFF , 1916px 780px #FFF , 1504px 449px #FFF , 1274px 1533px #FFF , 1131px 366px #FFF , 1988px 1329px #FFF , 257px 1833px #FFF , 1116px 971px #FFF; }

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px; }
  #title span {
    background: -webkit-linear-gradient(white, #38495a);
    background-clip: text;
    -webkit-text-fill-color: transparent; }

@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }

.te-container {
  font-size: 4rem;
  text-align: left;
  margin: 2rem auto;
  padding: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #0f22ca; }

:root {
  --fs-html: 62.5%;
  --fs-body: 1.6rem;
  --font-family: "Outfit", sans-serif; }

html {
  font-size: var(--fs-html);
  min-height: 100vh;
  min-height: 100dvh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  color-scheme: dark; }

body {
  line-height: 1.5;
  font-size: var(--fs-body);
  font-family: var(--font-family);
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: 0 0;
  min-height: 100vh;
  min-height: 100dvh; }
