@import "./layout/main";

@import "./component/starbg";
@import "./component/typeeffect";

:root {
  // 1rem = 10px
  --fs-html: 62.5%;
  --fs-body: 1.6rem;
  // 1rem = 10px
  --font-family: "Outfit", sans-serif;
}
html {
  font-size: var(--fs-html);
  //   height: 100dvh;
  //   for animation
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  color-scheme: dark;
}

body {
  line-height: 1.5;
  font-size: var(--fs-body);
  font-family: var(--font-family);
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  //   height: 100dvh;
}
