.main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
  min-height: 100vh;
  min-height: 100dvh;
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2rem;
    font-size: 4rem;
    a {
      padding-inline: 1rem;
      color: rgb(255, 255, 255);

      transition: 0.5s color, 5s transform;

      &:hover {
        color: rgb(15, 15, 252);
      }
    }
  }
  &-container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 80rem;
    height: 50rem;
    margin: auto;
    box-shadow: 0 0 0.4rem darkblue;
    border-radius: 0.5rem;
    //
    border-inline-start: 1rem solid;
    border-block-start: 1rem solid;
    border-image-source: radial-gradient(
      circle at top left,
      rgba(38, 0, 255, 0.5),
      transparent 50%
    );
    border-image-slice: 1;
    //
    & {
      @media (max-width: 900px) {
        width: 70rem;
      }
      @media (max-width: 800px) {
        width: 60rem;
        height: 60rem;
      }
      @media (max-width: 700px) {
        width: 50rem;
        height: 70rem;
      }
      @media (max-width: 600px) {
        width: 45rem;
        height: 70rem;
      }
      @media (max-width: 500px) {
        width: 38rem;
        height: 70rem;
      }
      @media (max-width: 400px) {
        width: 34rem;
        height: 70rem;
      }
      @media (max-width: 375px) {
        width: 34rem;
        height: 80rem;
      }
    }
  }
  &-paragraph {
    &::first-line {
      text-shadow: 0 0 2rem rgb(15, 15, 252);
    }
    font-size: 2rem;
    padding: 1.5rem;
    letter-spacing: 2;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px black;
    @media (max-width: 800px) {
      height: 28rem;
    }
    @media (max-width: 700px) {
      font-size: 1.8rem;
    }
    @media (max-width: 600px) {
      font-size: 1.7rem;
    }
    @media (max-width: 375px) {
      height: 30rem;
    }
  }
  &-tabs {
    @media (max-width: 700px) {
      flex-wrap: wrap;
      flex-direction: row;
      label {
        flex: 1 1 40%;
      }
    }
    @media (max-width: 500px) {
      flex-wrap: wrap;
      flex-direction: row;
      label {
        flex: 1 1 25%;
      }
    }
    @media (max-width: 400px) {
      margin-top: 1rem;
    }
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    & > * {
      flex: 1 1 100%;
    }
    input {
      display: none;
    }
    label {
      cursor: pointer;
      border: 0.2rem solid;
      border-image: linear-gradient(to right, #365bff, #f10707);
      border-image-slice: 1;
      border-radius: 1rem;
      padding: 1rem 1rem;
      margin: 1rem;
      box-shadow: 0 0 1rem black;
      transition: 0.5s all;
    }
    label:hover {
      transform: translateY(-1rem);
      color: rgb(255, 30, 30);
    }
  }
  //   tab1 tab2 tab3 tab4
  .main-skill {
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-around;
    align-items: flex-start;
    @media (max-width: 700px) {
      align-items: flex-start;
    }
    @media (max-width: 600px) {
      align-items: flex-start;
    }
    .main-skill-icon {
      font-size: 5rem;
      color: rgb(185, 35, 35);
      @media (max-width: 800px) {
        font-size: 3rem;
      }
      @media (max-width: 600px) {
        font-size: 3rem;
      }
    }
    &-frontend {
      width: 100%;
      padding: 1rem;
      h2 {
        margin: 0;
      }
      border-right: 0.3rem solid rgba(17, 0, 255, 0.2);
      &-names {
        display: flex;
        justify-content: space-between;
      }
    }
    &-tool {
      padding: 1rem;
      width: 100%;
      &-name {
        display: flex;
        justify-content: space-between;
      }
    }
    @media (max-width: 800px) {
      height: 30rem;
    }
  }
  .main-education {
    justify-content: space-between;
    align-items: start;
    font-size: 2rem;
    padding: 1.5rem;
    height: 20rem;
    .main-education > * {
      flex: 1 1 100%;
    }
    @media (max-width: 800px) {
      height: 28rem;
    }
    @media (max-width: 600px) {
      font-size: 1.7rem;
    }
  }
  .left {
    color: rgb(182, 163, 250);
    text-shadow: 0 0 0.3rem rgb (182, 163, 250);
  }
  .main-experience {
    justify-content: start;
    align-items: center;
    color: rgb(182, 163, 250);
    font-size: 3rem;
    padding: 1.5rem;
    height: 20rem;
    text-align: left;
    @media (max-width: 800px) {
      height: 28rem;
    }
    @media (max-width: 600px) {
      font-size: 1.7rem;
    }
  }
}

// Tabs
.tab1,
.tab2,
.tab3,
.tab4 {
  display: none;
}

.active {
  display: flex;
}
